* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0 auto;
  padding: 0;
  height: 100%; /* Задаёт высоту на 100% высоты окна браузера */
  width: 100%; /* Задаёт ширину на 100% ширины окна браузера */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 0.661rem + 1.696vw, 2.188rem);
  text-align: center;
}

.container {
  min-width: 70%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
}
.text {
  padding: 10px;
  margin: 10px;
  min-height: 50px;
  font-size: clamp(1rem, 0.839rem + 0.804vw, 1.563rem);
  text-wrap: wrap;
}
#paragraph {
}
#btn {
  padding: 10px;
  margin: 10px;
  margin-top: 40px;
  background-color: transparent;
  font-size: 24px;
  border-radius: 10px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 0.661rem + 1.696vw, 2.188rem);
}
#btn:hover {
  background-color: black;
  color: white;
}
#btn:active {
  color: red;
}
